<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Quiz</title>
    <base href="/" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div id="incorrect" class="incorrect">
      <div class="alert alert-dismissible alert-primary">
        <button
          type="button"
          class="btn-close"
          id="incorrectBtnClose"
          data-bs-dismiss="alert"
        ></button>
        <strong>Incorrect!</strong>
        It was <%=songName%>
      </div>
    </div>
    <div id="correct" class="correct">
      <div class="alert alert-dismissible alert-success">
        <button
          type="button"
          class="btn-close"
          id="correctBtnClose"
          data-bs-dismiss="alert"
        ></button>
        <strong>Well done!</strong> You got it right!
      </div>
    </div>
    <header>
      <h1 style="margin-top: 5px">Music Quiz</h1>
    </header>
    <div class="player-container">
      <iframe
        id="spotify-embed"
        class="spotify-embed"
        src=""
        width="50%"
        height="260"
        frameborder="0"
        allowtransparency="true"
      ></iframe>
      <div class="answer-cover-up"></div>
      <div class="answer-cover-up-2"></div>
    </div>
    <div class="quiz" id="quiz">
      <button type="button" class="btn btn-primary" id="choiceBtn">
        <%=choices[0]%>
      </button>
      <button type="button" class="btn btn-primary" id="choiceBtn2">
        <%=choices[1]%>
      </button>
      <button type="button" class="btn btn-primary" id="choiceBtn3">
        <%=choices[2]%>
      </button>
      <button type="button" class="btn btn-primary" id="choiceBtn4">
        <%=choices[3]%>
      </button>
    </div>
    <p style="font-size: 1px" id="songTitle"><%=songName%></p>
    <button type="button" class="btn btn-info home" id="home">Home</button>
    <button type="button" class="btn btn-info next" id="next">Next</button>

    <script src="./js/index.js"></script>
  </body>
</html>
